<!-- templates/asteroids/index.html -->
{% extends 'base.html' %}

{% block title %}Asteroids{% endblock %}

{% block sidebar %}
    <ul>
        {% for asteroid in asteroids %}
        <li>
            <a href="{{ url_for('asteroids.details', asteroid_id=asteroid.id) }}" class="block py-2 px-4 text-gray-800 hover:bg-gray-300">{{ asteroid.size }} kg (ID: {{ asteroid.id }})</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">Asteroids Overview</h1>
{% endblock %}