Flask
psycopg2-binary

#SQL Handling
flask_sqlalchemy

# Loading .env 
python-dotenv

# The Python interface to the Redis key-value store.
redis

# RQ (Redis Queue) is a simple Python library for queueing jobs and processing them in the background with workers. It is backed by Redis and it is designed to have a low barrier to entry. It can be integrated in your web stack easily.
rq

# Lets bring in the rq dashboard
rq-dashboard

flask-socketio

#Hocho - to enable the start up easiler using Procfile 
honcho