<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - FlaskApp</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex h-screen">
    <div class="activity-bar w-24 bg-gray-800 flex flex-col">

        <a href="{{ url_for('gamestate.overview') }}"
            class="block py-2 px-4 text-gray-100 hover:bg-gray-700 {% if request.endpoint.startswith('gamestate.') %}bg-gray-900{% endif %}">Time</a>

        <a href="{{ url_for('probes.index') }}"
            class="block py-2 px-4 text-gray-100 hover:bg-gray-700 {% if 'probes' in request.endpoint %}bg-gray-900{% endif %}">Probes</a>
        <a href="{{ url_for('asteroids.index') }}"
            class="block py-2 px-4 text-gray-100 hover:bg-gray-700 {% if 'asteroids' in request.endpoint %}bg-gray-900{% endif %}">Asteroids</a>
        <div class="flex-grow"></div>
    </div>

    <div class="side-bar w-64 bg-gray-200 overflow-y-auto">
        {% block sidebar %}{% endblock %}
    </div>

    <main class="editor-area flex-1 p-4 bg-gray-100 flex flex-col">
        <div class="main-content flex-grow">
            {% block content %}{% endblock %}
        </div>
        <div class="time-control mt-4 p-2 bg-white border border-gray-300 rounded flex justify-between items-center">
            <div>
                <span id="game-time">Game Time: Loading...</span> |
                <span id="time-rate">Rate: {{(gamestate.time_rate if gamestate else 1.0)}} </span>
            </div>
            <div>
                <button id="advance-time-button-2" class="px-2 py-1 bg-green-500 text-white rounded">Advance</button>

                <button id="rate-minus-1000" class="px-2 py-1 bg-gray-400 text-white rounded">-1000</button>
                <button id="rate-minus-100" class="px-2 py-1 bg-gray-400 text-white rounded">-100</button>
                <button id="rate-minus-10" class="px-2 py-1 bg-gray-400 text-white rounded">-10</button>
                <button id="rate-minus" class="px-2 py-1 bg-gray-400 text-white rounded">-1</button>

                <button id="rate-reset" class="px-2 py-1 bg-green-500 text-white rounded">Reset</button>
                <button id="rate-plus" class="px-2 py-1 bg-gray-400 text-white rounded">+1</button>
                <button id="rate-plus+10" class="px-2 py-1 bg-gray-400 text-white rounded">+10</button>
                <button id="rate-plus+100" class="px-2 py-1 bg-gray-400 text-white rounded">+100</button>
                <button id="rate-plus+1000" class="px-2 py-1 bg-gray-400 text-white rounded">+1000</button>

            </div>
        </div>
        <div class="game-log mt-4 p-2 bg-white border border-gray-300 rounded overflow-y-auto" style="flex-basis: 25%;">
            <div id="game-log-content">
                <ul id="game-log-list"></ul>
            </div>
        </div>
    </main>



    <script type="module" src="{{ url_for('static', filename='js/gametime.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/ratecontrol.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/gamelog.js') }}"></script>


    <script>
        // JavaScript can be added here if needed


        


        const advanceTimeButton2 = document.getElementById('advance-time-button-2');


        advanceTimeButton2.addEventListener('click', () => {

            fetch('/gametime/advance_time', {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('results').textContent = 'new Time: ' + data.new_time;
                });

        });





    </script>
</body>

</html>