{% extends 'base.html' %}

{% block content %}
    <h1 class="text-3xl font-bold underline">Probes</h1>
    {% for probe in Probes %}
        <div class="probe p-4 m-2 bg-gray-100 rounded-lg">
            <h3 class="text-xl font-semibold">Probe ID: {{ probe[0] }}</h3>
            <p>Type: {{ probe[1] }}</p>
            <p>Build Time: {{ probe[2] if probe[2] is not none else "N/A" }}</p> <--- Handle potential None values
            <p>Status: {{ probe[3] }}</p>
        </div>
    {% endfor %}
{% endblock %}