<!-- templates/gamestate/action.html -->
{% extends 'base.html' %}

{% block title %}Gamestate Actions{% endblock %}

{% block sidebar %}
<ul>
    <li><a href="{{ url_for('gamestate.overview') }}"
            class="block py-2 px-4 text-gray-800 hover:bg-gray-300 {% if request.endpoint.startswith('gamestate.overview') %}bg-gray-400{% endif %}">Overview</a>
    </li>
    <li><a href="{{ url_for('gamestate.action') }}"
            class="block py-2 px-4 text-gray-800 hover:bg-gray-300 {% if request.endpoint.startswith('gamestate.action') %}bg-gray-400{% endif %}">Action</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h1>Game State Actions</h1>

<div>

    hu 
</div>




<script>
    
    
</script>



{% endblock %}